# {{ ansible_managed }}
[Unit]
Description=RabbitMQ consumer webpush_notification
AssertPathExists={{ app_dir }}

[Service]
Type=simple
Restart=on-failure
RestartSec=30s
RemainAfterExit=no
Environment=SYMFONY_ENV={{ symfony_env }}
ExecStart=/usr/bin/php {{ app_dir }}/bin/console --env={{ symfony_env }} rabbitmq:consumer webpush_notification
#DynamicUser=yes - to check if ti can be run as a dynamic user with no special rights
User=www-data
Group=www-data

[Install]
WantedBy=multi-user.target
