# {{ ansible_managed }}
[Unit]
Description=RabbitMQ consumer view
AssertPathExists={{ app_dir }}

[Service]
Type=simple
Restart=on-failure
RestartSec=30s
RemainAfterExit=no
ExecStart=/usr/bin/php {{ app_dir }}/bin/console --env=prod rabbitmq:consumer view
#DynamicUser=yes - to check if ti can be run as a dynamic user with no special rights
User=www-data
Group=www-data

[Install]
WantedBy=multi-user.target
