# {{ ansible_managed }}
[Unit]
Description=RabbitMQ consumer view
AssertPathExists={{ app_dir }}

[Service]
Type=simple
Restart=always
RestartSec=3s
Environment=SYMFONY_ENV={{ symfony_env }}
ExecStart=/usr/bin/php {{ app_dir }}/bin/console --env={{ symfony_env }} rabbitmq:consumer view
#DynamicUser=yes - to check if it can be run as a dynamic user with no special rights
User=www-data
Group=www-data

[Install]
WantedBy=multi-user.target
